.slider.owl-carousel.owl-theme
    .slider__item
        .slider__title
            .slider__name Перфораторы
            .slider__info Настоящие мужские игрушки
        a.slider__button(href="#") Открыть каталог
    .slider__item
        .slider__title
            .slider__name Перфораторы
            .slider__info Настоящие мужские игрушки
        a.slider__button(href="#") Открыть каталог
    .slider__item
        .slider__title
            .slider__name Перфораторы
            .slider__info Настоящие мужские игрушки
        a.slider__button(href="#") Открыть каталог
