.slider{
    position: relative;
    grid-row: span 2;
    grid-column: span 2;
}

.slider__title{
    padding: 23px 0px 21px 26px;
    background: rgba(0,0,0,0.25);
}

.slider__item{
    background: url(img/sliderBackground.png) no-repeat center / cover;
    height: 266px;
}

.slider__name{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 36px;
    text-transform: uppercase;
}

.slider__info{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 18px;
}

@media (max-width:640px),(max-device-width:640px) {
    .slider{
        height: 123px;
        grid-row: inherit;
        grid-column: inherit;
        background-color: lime;
    }
    .slider__item{
        height: 123px;
    }
}
