.button{
    padding: 14px 0px;
    outline: none;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.button_service{
    padding: 20px 0px 22px 22px;
    font-size: 21px;
    width: 240px;
    background-color: #32425c;
    text-align: left;
}

.button_service:hover{
    background-color: #293449;
}

.button_service-active{
    padding: 20px 0px 22px 22px;
    font-size: 21px;
    width: 240px;
    background-color: #ffffff;
    color: #32425c;
    text-align: left;
}

.button__foods-show{
    margin-top: 75px;
    padding: 10px 39px 10px 39px;
    border: 1px solid #e5e5e5;
    width: 140px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.button_select-sort-type{
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    background: none;
    color: #b3b3b3;
    border-bottom: 2px dotted red;
    padding: 0px;
}

.button_select-sort-type:hover{
    color: #000000;
    border-bottom: 2px solid red;
}

.button_select-sort-type:focus{
    color: #ee3643;
    border: none;
}

.button_select-sort-arrow-up{
    background: url("img/-icon-up-dir.png") no-repeat center / cover;
    width: 11px;
    height: 10px;
    border: none;
    cursor: pointer;
}

.button_select-sort-arrow-down{
    background: url("img/-icon-down-dir.png") no-repeat center / cover;
    width: 11px;
    height: 10px;
    border: none;
    cursor: pointer;
}

.button_nav, .button_nav-next{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-right: 10px;
    color: #000000;
    background-color: #fff;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
}

.button_nav-next{
    padding-left: 23px;
    padding-right: 23px;
    margin-right: 0px;
}

.button_nav:hover, .button_nav-next:hover{
    background-color: #bfc7cb;
}

.button_nav:focus, .button_nav-next:focus{
    background-color: #ee3945;
}
