.top-nav
    .top-nav__wrapper
        a.top-nav__button(href="#") Главная
        a.top-nav__button(href="#") Компания
        a.top-nav__button(href="#") Каталог
        a.top-nav__button(href="#") Новости
        a.top-nav__button(href="#") Спецпредложения
        a.top-nav__button(href="#") Доставка
        a.top-nav__button(href="#") Контакты
