.top-nav 
    .top-nav__wrapper
        a.link.link_nav-button(href="#") Главная
        a.link.link_nav-button(href="#") Компания
        a.link.link_nav-button(href="#") Каталог
        a.link.link_nav-button(href="#") Новости
        a.link.link_nav-button(href="#") Спецпредложения
        a.link.link_nav-button(href="#") Доставка
        a.link.link_nav-button(href="#") Контакты
