mixin info-block(blockWidth, title, colorTitle, text)
    .info-block(style="max-width: "+blockWidth+"")
        .info-block__title(style="color: "+colorTitle+"")=title
        .info-block__text=text
