.info-block__title{
    font-family: Cuprum;
    font-size: 30px;
    text-transform: uppercase;
}

.info-block__text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    padding-top: 30px;
    line-height: 24px;
}

.info-block__bottom-wrapper{
    display: flex;
    justify-content: flex-start;
    padding-top: 74px;
}

.info-block__menu-button{
    padding: 20px 0px 22px 22px;
    font-family: Cuprum;
    font-size: 21px;
    width: 240px;
    margin-right: 80px;
}

.info-block__img{
    width: 206px;
    height: 146px;
    margin-left: 138px;
    background: url("img/car.png");
}

@media screen and (max-width: 960px){
    .info-block__top-wrapper{
        margin-left: 30px;
        width: 290px;
    }
    .info-block__bottom-wrapper{
        padding-top: 15px;
        flex-direction: column;
        margin-left: 30px;
    }
    .info-block{
        padding-top: 30px;
        max-width: 285px;
    }
    .info-block__img{
        margin-left: 0px;
        margin-top: 30px;
    }
}
