.container{
    padding: 40px 0px;
    margin: 0px auto;
    max-width: 940px;
    font-family: Cuprum;
    background-color: #f3f7f9;
}

.container_manufacturer-list{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(2,145px);
    grid-template-columns: repeat(4,220px);
    background-color: #ffffff;
    padding-bottom: 85px;
}

.container__wrapper-info-blocks{
    margin: 0px auto;
    padding-top: 28px;
    padding-bottom: 62px;
}

.container_goods-list{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 21px;
}

.container_popular-goods{
    padding: 21px 24px 22px 30px;
    display: flex;
    justify-content: space-between;
}

.container_popular-manufacturer{
    padding: 25px 24px 26px 30px;
    display: flex;
    justify-content: space-between;
}

.container_categories{
    background-color: #ffffff;
}

.container_categories{
    display: grid;
    grid-template-rows: repeat(3, 123px);
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 40px 0px 53px 0px;
}

.container__wrapper{
    max-width: 940px;
}

.container__wrapper_top{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f3f7f9;
    margin: 0 auto;
}

.container_top{
    width: 100%;
    background-color: #f3f7f9;
        max-width: 100%;
}

.container__info{
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    max-width: 196px;
    margin-left: 53px;
}

.container__contacts{
    width: 270px;
}

.container__contacts-number{
    color: #e9292a;
    font-family: Cuprum;
    font-size: 21px;
    line-height: 18px;
    background: #fff url("img/phone.png") no-repeat 15px center;
    margin-bottom: 21px;
    padding: 10px 0px 10px 75px;
}

.container__contacts-adress{
    color: #32425c;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 24px;
}

.container__sign-in{
    color: #000000;
    font-family: Cuprum;
    font-size: 21px;
    line-height: 18px;
    width: 121px;
    padding: 14px 27px 15px 48px;
    background: #fff url("img/exit.png")  no-repeat 17px center / 17px;
    text-decoration: none;
}

.container__sign-up{
    color: #000000;
    font-family: Cuprum;
    font-size: 21px;
    line-height: 18px;
    width: 150px;
    background-color: #fff;
    text-align: center;
    padding: 14px 25px 11px 25px;
    text-decoration: none;
}

@media screen and (max-width: 1060px){
    .container__wrapper_top{
        flex-direction: column;
        align-items: center;
    }
    .container__contacts, .container__sign-in{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 650px){
    .container_popular-goods, .container_popular-manufacturer{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 980px){
    .container_goods-list{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}
