.category{
    height: 123px;
    position: relative;
}

.category__name{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 24px;
    padding: 26px 38px 15px 23px;
    color: #ffffff;
    font-size: 24px;
}

.category__new{
    width: 60px;
    height: 59px;
    background: url("img/new.png");
    position: absolute;
    top: 0%;
    right: 0%;
}
