.category{
    position: relative;
}

.category__name{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 24px;
    padding: 26px 38px 15px 23px;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 24px;
}

.category__button{
    max-width: 135px;
    padding: 11px 24px;
    margin: 0px 38px 22px 25px;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
}

.category__new{
    width: 60px;
    height: 59px;
    background: url("img/new.png");
    position: absolute;
    top: 0%;
    right: 0%;
}
