footer.footer
    .footer__top
        .footer__wrapper-top
            .footer__container-top
                .footer__logo Техномарт
                .footer__top-nav
                    a.top-nav__button(href="#") Компания
                    a.top-nav__button(href="#") Новости
                    a.top-nav__button(href="#") Каталог
                    a.top-nav__button(href="#") Доставка
                    a.top-nav__button(href="#") Контакты
            .footer__container-bottom
                .footer__contacts г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 +7 (812) 555-05-55   
                .footer__bottom-nav
                    a.top-nav__button(href="#" style="сolor: #ffda96") Материалы
                    a.top-nav__button(href="#" style="сolor: #ffda96") Техника
                    a.top-nav__button(href="#" style="сolor: #ffda96") Инструмент
                    a.top-nav__button(href="#" style="сolor: #ffda96") Спецпредложения   
    .footer__bottom
        .footer__wrapper-bottom
            .footer__copyright © 2010–2017 Компания «Техномарт» Все права защищены
            .footer__social
                a.footer__social-logo(href="#" background: url("img/vk.png") no-repeat center)
                a.footer__social-logo(href="#" background: url("img/facebook.png") no-repeat center)
                a.footer__social-logo(href="#" background: url("img/instagram.png") no-repeat center)
            .footer__call Обратная связь: 
                a.footer__link(href="#")  mail@htmlacademy.ru
            .footer__creator Разработано —
                a.footer__link(href="#") htmlacademy.ru
            
