footer.footer
    .footer__top
        .footer__wrapper-top
            .row.row_footer-top
                .footer__logo Техномарт
                .row.row_footer-nav-top
                    a.link(href="#") Компания
                    a.link(href="#") Новости
                    a.link(href="#") Каталог
                    a.link(href="#") Доставка
                    a.link(href="#") Контакты
            .row.row_footer-bottom
                .footer__contacts г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 +7 (812) 555-05-55   
                .row.row_footer-nav-bottom
                    a.link.link_gold(href="#") Материалы
                    a.link.link_gold(href="#") Техника
                    a.link.link_gold(href="#") Инструмент
                    a.link.link_gold(href="#") Спецпредложения   
    .footer__bottom
        .footer__wrapper-bottom
            .footer__copyright © 2010–2017 Компания «Техномарт» Все права защищены
            .footer__social
            //    a.footer__social-logo(href="#" background: url("img/vk.png") no-repeat center)
            //    a.footer__social-logo(href="#" background: url("img/facebook.png") no-repeat center)
            //    a.footer__social-logo(href="#" background: url("img/instagram.png") no-repeat center)
            .footer__call Обратная связь: 
                a.link.link_gold(href="#") mail@htmlacademy.ru
            .footer__creator Разработано —
                a.link.link_gold(href="#") htmlacademy.ru
            
