.footer__top{
    background-color: #32425c;
}

.footer__bottom{
    background-color: #33445a;
}

.footer__wrapper-top{
    max-width: 940px;
    margin: 0 auto;
    height: 193px;
}

.footer__wrapper-bottom{
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer__logo{
    background-color: #ee3643;
    text-align: center;
    padding: 17px 41px 17px 41px;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 30px;
    width: 220px;
}

.footer__contacts{
    color: #f1f5f7;
    font-family: Cuprum;
    font-size: 18px;
    max-width: 322px;
}

.footer__copyright{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 16px;
    max-width: 227px;
}

.footer__call{
    color: #ffffff;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    max-width: 135px;
}

.footer__creator{
    color: #ffffff;
    max-width: 96px;
}


.footer__social{
    max-width: 132px;
}

.footer__social-logo{
    width: 41px;
    height: 42px;
}
