footer.footer
    .footer__top
        .footer__wrapper-top
            .row.row_footer-top
                .footer__logo Техномарт
                .row.row_footer-nav-top
                    a.footer__link(href="#") Компания
                    a.footer__link(href="#") Новости
                    a.footer__link(href="#") Каталог
                    a.footer__link(href="#") Доставка
                    a.footer__link(href="#") Контакты
            .row.row_footer-bottom
                .footer__contacts г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 +7 (812) 555-05-55   
                .row.row_footer-nav-bottom
                    a.footer__link.footer_link-gold(href="#" style="сolor: #ffda96") Материалы
                    a.footer__link.footer_link-gold(href="#" style="сolor: #ffda96") Техника
                    a.footer__link.footer_link-gold(href="#" style="сolor: #ffda96") Инструмент
                    a.footer__link.footer_link-gold(href="#" style="сolor: #ffda96") Спецпредложения   
    .footer__bottom
        .footer__wrapper-bottom
            .footer__copyright © 2010–2017 Компания «Техномарт» Все права защищены
            .footer__social
                a.footer__social-logo(href="#" background: url("img/vk.png") no-repeat center)
                a.footer__social-logo(href="#" background: url("img/facebook.png") no-repeat center)
                a.footer__social-logo(href="#" background: url("img/instagram.png") no-repeat center)
            .footer__call Обратная связь: 
                a.footer__link.footer_link-gold(href="#")  mail@htmlacademy.ru
            .footer__creator Разработано —
                a.footer__link.footer_link-gold(href="#") htmlacademy.ru
            
