.company-info{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.company-info__label{
    font-family: Cuprum;
    font-size: 30px;
    text-transform: uppercase;
}

.company-info__text{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    padding-top: 26px;
}

.company-info__transport-list{
    display: flex;
    margin-top: 23.5px;
}

.company-info__line{
    background: url("img/redLine.png") no-repeat center;
    margin-right: 10px;
    width: 25px;
    height: 20px;
}

.company-info__transport-name{
    font-family: Cuprum;
    font-size: 18px;
}

.company-info__map{
    background: url("img/map.png") no-repeat center;
    margin-top: 36px;
    width: 300px;
    height: 158px;
}

@media screen and (max-width: 800px){
    .company-info{
        flex-direction: column;
        justify-content: center;
    }
    .company-info__contacts{
        padding-top: 30px;
    }
    .company-info__map, .company-info__button-second{
        width: 250px;
    }
}
