.company-info
    .company-info__delivery
        .company-info__label Компания «Техномарт»
        .company-info__text(style="max-width: 519px") Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушными любителей сэкномить на гастарбайтерах.
        .company-info__text(style="max-width: 369px") Мы можем доставить ваш товар в самые отдаленные точки России! Техномарт работает со многими транспортными компаниями: 
        .company-info__transport-list
            .company-info__line
            .company-info__transport-name Деловые линии
        .company-info__transport-list
            .company-info__line
            .company-info__transport-name Автотрейдинг
        .company-info__transport-list
            .company-info__line
            .company-info__transport-name ЖелДорЭкспедиция
        a.company-info__button-first(style="margin-top: 48px") Подробнее о компании
    .company-info__contacts
        .company-info__label Контакты
        .company-info__text(style="max-width: 180px") Вы можете забрать товар сами, заехав в наш офис:
        .company-info__map
        a.company-info__button-second Заблудились? Напишите нам!
