.link{
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-family: "Cuprum";
    font-size: 17px;
}

.link_header-logo{
    box-sizing: border-box;
    width: 220px;
    background-color: #ee3643;
    padding: 10px 55px 10px 55px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    position: relative;
}

.link_header-logo::after{
    content: "";
    position: absolute;
    width: 220px;
    border-bottom: 5px solid #b52933;
    bottom: -4px;
    left: 0%;
    text-decoration: none;
}

.link_header-bookmarks{
    background-color: transparent;
    max-width: 151px;
    background: url("img/bookmarks.png") no-repeat 17px center / 17px;
    padding: 14px 22px 13px 50px;
}

.link_header-busket{
    background-color: transparent;
    max-width: 150px;
    background: url("img/basket.png") no-repeat 17px center / 17px;
    padding: 14px 22px 13px 50px;
}

.link_header-checkout{
    display: block;
    background-color: transparent;
    color: #ffffff;
    width: 150px;
    background-color: #63a63e;
    padding: 14px 22px 13px 20px;
    text-decoration: none;
}

.link_nav-button{
    padding: 23px 0px;
}

.link_sign-in{
    color: #000000;
    font-size: 21px;
    line-height: 18px;
    width: 121px;
    padding: 14px 27px 15px 48px;
    background: #fff url("img/exit.png")  no-repeat 17px center / 17px;
}

.link_sign-up{
    color: #000000;
    font-size: 21px;
    line-height: 18px;
    width: 150px;
    background-color: #fff;
    text-align: center;
    padding: 14px 25px 11px 25px;
}

.link_red{
    background-color: #ee3643;
    width: 253px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

.link_gold{
    color: #ffda96;
}

.link_details{
    background-color: #ee3643;
    width: 220px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    margin-top: 37px;
}

.link_writeMe{
    background-color: #ee3643;
    width: 300px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width:960px){
    .link_header-logo{
        margin-bottom: 15px;
        width: 100%;
    }
    .link_header-logo::after{
        border-bottom: none;
    }
    .link_header-checkout{
        padding-top: 15px;
    }
}

@media screen and (max-width: 340px){
    .link_writeMe{
        width:100%
    }
}
