.link{
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-family: "Cuprum";
    font-size: 17px;
}

.link_header-logo{
    box-sizing: border-box;
    width: 220px;
    background-color: #ee3643;
    padding: 10px 55px 10px 55px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    position: relative;
}

.link_header-logo::after{
    content: "";
    position: absolute;
    width: 220px;
    border-bottom: 5px solid #b52933;
    bottom: -4px;
    left: 0%;
    text-decoration: none;
}

.link_header-bookmarks{
    background-color: transparent;
    max-width: 151px;
    background: url("img/bookmark.png") no-repeat 17px center / 17px;
    padding: 14px 22px 13px 50px;
}

.link_header-busket{
    background-color: transparent;
    max-width: 150px;
    background: url("img/basket.png") no-repeat 17px center / 17px;
    padding: 14px 22px 13px 50px;
}

.link_header-checkout{
    display: block;
    background-color: transparent;
    color: #ffffff;
    width: 150px;
    background-color: #63a63e;
    padding: 14px 22px 13px 20px;
    text-decoration: none;
}

.link_nav-button{
    padding: 23px;
}

.link_sign-in{
    color: #000000;
    font-size: 21px;
    line-height: 18px;
    width: 121px;
    padding: 14px 27px 13px 48px;
    background: #fff url("img/login.png")  no-repeat 17px center / 17px;
}

.link_sign-up{
    color: #000000;
    font-size: 21px;
    line-height: 18px;
    width: 150px;
    background-color: #fff;
    text-align: center;
    padding: 14px 25px 13px 25px;
}

.link_red{
    background-color: #ee3643;
    width: 253px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

.link_gold{
    color: #ffda96;
}

.link_details{
    background-color: #ee3643;
    width: 220px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    margin-top: 37px;
}

.link_writeMe{
    background-color: #ee3643;
    width: 300px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

.link_slider{
    max-width: 195px;
    padding: 14px 45px 14px 49px;
    margin: 101px 0px 22px 25px;
    background-color: #ee3643;
    font-size: 14px;
    text-transform: uppercase;
}

.link_category{
    background-color: #ee3643;
    width: 135px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 23px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.link_header-logo:hover{
    background-color: #ca2c37;
}

.link_header-bookmarks:hover{
    background: #212a3a url("img/bookmarkHover.png") no-repeat 17px center / 17px;
}

.link_header-busket:hover{
    background: #212a3a url("img/basketHover.png") no-repeat 17px center / 17px;
}

.link_header-checkout:hover{
    background-color: #5fbb2d;
}

.link_header-logo:active{
    background-color: #b32833;
}

.link_header-bookmarks:active{
    background: #212a3a url("img/bookmark.png") no-repeat 17px center / 17px;
    background-color: #161d29;
}

.link_header-busket:active{
    background: #212a3a url("img/basket.png") no-repeat 17px center / 17px;
    background-color: #161d29;
}

.link_header-checkout:active{
    background-color: #518534;
    color: #7ba265;
}

.link_sign-in:hover{
    background: #ffffff url("img/loginHover.png") no-repeat 17px center / 17px;
    color: #ee3643;
}

.link_sign-up:hover{
    color: #ee3643;
}

.link_sign-in:active{
    background: #ffffff url("img/login.png") no-repeat 17px center / 17px;
    color: #dbdbdb;
}

.link_sign-up:active{
    color: #dbdbdb;
}

.link_nav-button:hover{
    background-color: #293449;
}

.link_nav-button:active{
    background-color: #1d2739;
    color: #7f858f;
}

.row_footer-nav-top > .link:hover{
    text-decoration: underline;
}

.row_footer-nav-bottom > .link_gold:hover{
    text-decoration: underline;
}

.footer__call > .link_gold:hover{
    text-decoration: underline;
}

.footer__creator > .link_gold:hover{
    text-decoration: underline;
}

.row_footer-nav-top > .link:active{
    text-decoration: none;
    color: #32425c;
}

.row_footer-nav-bottom > .link_gold:active{
    text-decoration: none;
    color: #998a6e;
}

.footer__call > .link_gold:active{
    text-decoration: none;
    color: #853546;
}

.footer__creator > .link_gold:active{
    text-decoration: none;
    color: #853546;
}

.link_slider:hover, .link_red:hover, .link_details:hover, .link_writeMe:hover{
    background-color: #ca2c37;
}

.link_slider:active, .link_red:active, .link_details:active, .link_writeMe:active{
    background-color: #ba2732;
}

@media screen and (max-width: 960px){
    .link_header-logo{
        margin-bottom: 15px;
        width: 100%;
    }
    .link_header-logo::after{
        border-bottom: none;
    }
    .link_header-bookmarks, .link_header-busket , .link_header-checkout{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 340px){
    .link_writeMe{
        width:100%
    }
}

@media screen and (max-width: 900px){
    .footer__top .link{
        padding-bottom: 10px;
    }
    .footer__contacts{
        max-width: 280px;
    }
}
