.container.container_top
    .container__wrapper.container__wrapper_top
        .container__info Интернет-магазин строительных материалов и инструментов для ремонта
        .container__contacts 
            .container__contacts-number +7 (812) 555-05-55
            .container__contacts-adress г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
        .container__sign-in Войти
        .container__sign-up Регистрация
