*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Cuprum";
}

@font-face {
    src: url("fonts/cuprum_regular.ttf");
    font-family: "Cuprum";
}

.hidden{
    display: none;
}
