mixin goods-list(imgSrc, name, oldPrice, newPrice, isNew)
    .goods-list
        .goods-list__prewiew(style="background: url("+imgSrc+") no-repeat center / cover")
        .goods-list__name=name
        if(oldPrice == "")
            .goods-list__oldPrice(style="visibility: hidden")=oldPrice
        else
            .goods-list__oldPrice=oldPrice
        .goods-list__newPrice=newPrice
        if(isNew)
            .goods-list__new
