noscript
    p Please enable Javascript
    
header.header
    .header__wrapper
        a.link.link_header-logo(href="#") Техномарт
        input.header__search(type="text" placeholder="Поиск:")
        a.link.link_header-bookmarks(href="#") Закладки: 
            span 0
        a.link.link_header-busket(href="#") Корзина: 
            span 0
        a.link.link_header-checkout(href="#") Оформить заказ
        
