noscript
    p Please enable Javascript
    
header.header
    .header__wrapper
        .header__logo Техномарт
        .header__search Поиск:
        .header__bookmarks Закладки
        .header__basket Корзина
        .header__checkout Оформить заказ
