.product{
    max-width: 220px;
    padding: 6px 19px 21px 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 318px;
    position: relative;
    border: 2px solid #f3f3f3;
    margin-top: 15px;
}

.product__buy{
    width: 135px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
    background: #63a63e url("img/basket.png") no-repeat 10px center/17px;
    text-align: center;
    font-family: "PT Sans";
    font-size: 18px;
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 5px;
}

.product__buy:hover{
    background-color: #5fbb2d;
    background: #63a63e url("img/basketHover.png") no-repeat 10px center/17px;
}

.product__buy:active{
    background-color: #518534;
}

.product__bookmark{
    width: 135px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px #63a63e solid;
    background-color: #fff;
    text-align: center;
    color: #000;
    font-family: "PT Sans";
    font-size: 18px;
    margin-top: 5px;
    margin-left: 25px;
    border-radius: 5px;
}

.product__bookmark:hover{
    border: 3px #32425c solid;
}

.product__bookmark:active{
    border: 3px #c1c6ce solid;
}

.product__prewiew, .product__buttons{
    width: 184px;
    height: 164px;
}

.product:hover .product__prewiew{
    display: none;
}

 .product__buy, .product__bookmark, .product__buttons{
     display: none;
 }

.product:hover .product__buy, .product:hover .product__bookmark, .product:hover .product__buttons{
    display: block;
}

.product__name{
    text-align: center;
    margin-top: 13px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
}

.product__oldPrice{
    margin-top: 18px;
    color: #999999;
    font-family: "PT Sans";
    font-size: 17px;
    text-decoration: line-through;
    text-transform: uppercase;
    height: 19px;
}

.product__newPrice{
    margin-top: 13px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 10px 13px 10px;
    display: block;
    background-color: #ee3643;
    text-align: center;
    width: max-content;
    position: relative;
    width: 120px;
}

.product__newPrice::after{
    position: absolute;
    content: "";
    border-left: 24px solid #ee3643;
    border-right: 0px solid transparent;
    border-top: 23px solid transparent;
    border-bottom: 22px solid transparent;
    top: -1%;
    right: -20%;
}

.product__new{
    width: 60px;
    height: 59px;
    background: url(img/new.png);
    position: absolute;
    top: 0;
    right: 0;
}
