.product{
    max-width: 220px;
    padding: 6px 19px 21px 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 318px;
    position: relative;
}

.product__prewiew{
    width: 184px;
    height: 164px;
}

.product__name{
    text-align: center;
    margin-top: 13px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
}

.product__oldPrice{
    margin-top: 18px;
    color: #999999;
    font-family: "PT Sans";
    font-size: 17px;
    text-decoration: line-through;
    text-transform: uppercase;
    height: 19px;
}

.product__newPrice{
    margin-top: 13px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 10px 13px 10px;
    display: block;
    background-color: #ee3643;
    text-align: center;
    width: max-content;
    position: relative;
    width: 120px;
}

.product__newPrice::after{
    position: absolute;
    content: "";
    border-left: 24px solid #ee3643;
    border-right: 0px solid transparent;
    border-top: 23px solid transparent;
    border-bottom: 22px solid transparent;
    top: -1%;
    right: -20%;
}

.product__new{
    width: 60px;
    height: 59px;
    background: url(img/new.png);
    position: absolute;
    top: 0;
    right: 0;
}
